.tab-wrapper {
  /* background: #c5c5ff;
  color: #4a3ef2; */
  border: 1px solid #ccc;
}
.ant-tabs-nav-list:first-child {
  border-radius: 5px 0px 0px 5px;
}
.ant-tabs-nav-list:last-child {
  border-radius: 0px 5px 5px 0px;
}
.active-tab {
  background: #c5c5ff;
  color: #4a3ef2;
}
.radio-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.radio-wrapper:hover {
  border: 1px solid #4a3ef2;
}
.radio-label {
  font-size: 16px;
  line-height: 14px;
}

.ant-tabs-nav-list {
  border: 1px solid #ccc;
}

.ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
  width: 100% !important;
  text-align: center;
}

.ant-tabs-tab {
  flex: 1;
  text-align: center !important;
  display: inline-flex;
  margin: 0 !important;
  font-size: 16px;
}
.ant-tabs-tab-active {
  background: #c5c5ff !important;
  color: #4a3ef2 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #4a3ef2 !important;
  text-shadow: 0 0 0px transparent !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: transparent !important;
  pointer-events: none;
}

.ant-tabs-tab-btn {
  width: 100%;
  text-align: center;
}

/* tabBarStyle={{
                            border: '1px solid #4a3ef2',
                            background: '#c5c5ff',
                            color: '#4a3ef2'
                        }} */
